
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

#tabelaPessoas{
    width: 100%;
}

.linhaPessoas{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    border-bottom: .1rem solid gray;
}

.icone{
    width: 10%;
    width: 2rem;
    height: 2rem;
}

.item{
    width: 15%;
    margin-left: 3%;
}

#areaBotao{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#botaoAdicionar{
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
    border: none;
    background-color: steelblue;
    font-size: xx-large;
}